In [1]:
import numpy as np
import pandas as pd

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/av-janata-hack-payment-default-prediction/train_20D8GL3.csv
/kaggle/input/av-janata-hack-payment-default-prediction/test_O6kKpvt.csv
/kaggle/input/av-janata-hack-payment-default-prediction/sample_submission_gm6gE0l.csv

In [2]:
train = pd.read_csv('/kaggle/input/av-janata-hack-payment-default-prediction/train_20D8GL3.csv')
test = pd.read_csv('/kaggle/input/av-janata-hack-payment-default-prediction/test_O6kKpvt.csv')
train.shape, test.shape

((21000, 25), (9000, 24))

In [3]:
combine = train.append(test)
combine.shape

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

(30000, 25)

In [4]:
combine.isnull().sum()

AGE                              0
BILL_AMT1                        0
BILL_AMT2                        0
BILL_AMT3                        0
BILL_AMT4                        0
BILL_AMT5                        0
BILL_AMT6                        0
EDUCATION                        0
ID                               0
LIMIT_BAL                        0
MARRIAGE                         0
PAY_0                            0
PAY_2                            0
PAY_3                            0
PAY_4                            0
PAY_5                            0
PAY_6                            0
PAY_AMT1                         0
PAY_AMT2                         0
PAY_AMT3                         0
PAY_AMT4                         0
PAY_AMT5                         0
PAY_AMT6                         0
SEX                              0
default_payment_next_month    9000
dtype: int64

In [5]:
combine.dtypes

AGE                             int64
BILL_AMT1                       int64
BILL_AMT2                       int64
BILL_AMT3                       int64
BILL_AMT4                       int64
BILL_AMT5                       int64
BILL_AMT6                       int64
EDUCATION                       int64
ID                              int64
LIMIT_BAL                       int64
MARRIAGE                        int64
PAY_0                           int64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
PAY_AMT1                        int64
PAY_AMT2                        int64
PAY_AMT3                        int64
PAY_AMT4                        int64
PAY_AMT5                        int64
PAY_AMT6                        int64
SEX                             int64
default_payment_next_month    float64
dtype: object

In [6]:
combine['LIMIT_BAL'].describe()

count      30000.000000
mean      167484.322667
std       129747.661567
min        10000.000000
25%        50000.000000
50%       140000.000000
75%       240000.000000
max      1000000.000000
Name: LIMIT_BAL, dtype: float64

In [7]:
combine['LIMIT_BAL'] = np.log(combine['LIMIT_BAL'])
combine['LIMIT_BAL'].describe()

count    30000.000000
mean        11.663002
std          0.941135
min          9.210340
25%         10.819778
50%         11.849398
75%         12.388394
max         13.815511
Name: LIMIT_BAL, dtype: float64

In [8]:
combine['SEX'].value_counts()

2    18112
1    11888
Name: SEX, dtype: int64

In [9]:
combine['SEX'] = combine['SEX'].replace(1, "Male")
combine['SEX'] = combine['SEX'].replace(2, "Female")
combine['SEX'].value_counts()

Female    18112
Male      11888
Name: SEX, dtype: int64

In [10]:
combine['EDUCATION'].value_counts()

2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: EDUCATION, dtype: int64

In [11]:
combine['EDUCATION'] = combine['EDUCATION'].replace(1, "Graduate_School")
combine['EDUCATION'] = combine['EDUCATION'].replace(2, "University")
combine['EDUCATION'] = combine['EDUCATION'].replace(3, "High_School")
combine['EDUCATION'] = combine['EDUCATION'].replace(4, "Unknown")
combine['EDUCATION'] = combine['EDUCATION'].replace(5, "Unknown")
combine['EDUCATION'] = combine['EDUCATION'].replace(6, "Unknown")
combine['EDUCATION'] = combine['EDUCATION'].replace(0, "Unknown")
combine['EDUCATION'].value_counts()

University         14030
Graduate_School    10585
High_School         4917
Unknown              468
Name: EDUCATION, dtype: int64

In [12]:
combine['MARRIAGE'].value_counts()

2    15964
1    13659
3      323
0       54
Name: MARRIAGE, dtype: int64

In [13]:
combine['MARRIAGE'] = combine['MARRIAGE'].replace(1, "Married")
combine['MARRIAGE'] = combine['MARRIAGE'].replace(2, "Single")
combine['MARRIAGE'] = combine['MARRIAGE'].replace(3, "Divorced")
combine['MARRIAGE'] = combine['MARRIAGE'].replace(0, "Unknown")
combine['MARRIAGE'].value_counts()

Single      15964
Married     13659
Divorced      323
Unknown        54
Name: MARRIAGE, dtype: int64

In [14]:
combine['AGE'].describe()

count    30000.000000
mean        35.485500
std          9.217904
min         21.000000
25%         28.000000
50%         34.000000
75%         41.000000
max         79.000000
Name: AGE, dtype: float64

In [15]:
bins= [20,30,40,50,60,70,80]
labels = ['Age_Tier1','Age_Tier2','Age_Tier3','Age_Tier4','Age_Tier5','Age_Tier6']
combine['AGE'] = pd.cut(combine['AGE'], bins=bins, labels=labels, right=False)
combine['AGE'].value_counts()

Age_Tier2    11238
Age_Tier1     9618
Age_Tier3     6464
Age_Tier4     2341
Age_Tier5      314
Age_Tier6       25
Name: AGE, dtype: int64

In [16]:
combine['PAY_0'].value_counts()

 0    14737
-1     5686
 1     3688
-2     2759
 2     2667
 3      322
 4       76
 5       26
 8       19
 6       11
 7        9
Name: PAY_0, dtype: int64

In [17]:
combine['PAY_0'] = combine['PAY_0'].replace(0, "Paid_On_Time")
combine['PAY_0'] = combine['PAY_0'].replace(-1, "Duly_1")
combine['PAY_0'] = combine['PAY_0'].replace(1, "Delay_1")
combine['PAY_0'] = combine['PAY_0'].replace(-2, "Duly_2")
combine['PAY_0'] = combine['PAY_0'].replace(2, "Delay_2")
combine['PAY_0'] = combine['PAY_0'].replace(3, "Delay_3")
combine['PAY_0'] = combine['PAY_0'].replace(4, "Delay_4")
combine['PAY_0'] = combine['PAY_0'].replace(5, "Delay_5")
combine['PAY_0'] = combine['PAY_0'].replace(8, "Delay_8")
combine['PAY_0'] = combine['PAY_0'].replace(6, "Delay_6")
combine['PAY_0'] = combine['PAY_0'].replace(7, "Delay_7")
combine['PAY_0'].value_counts()

Paid_On_Time    14737
Duly_1           5686
Delay_1          3688
Duly_2           2759
Delay_2          2667
Delay_3           322
Delay_4            76
Delay_5            26
Delay_8            19
Delay_6            11
Delay_7             9
Name: PAY_0, dtype: int64

In [18]:
combine['PAY_2'].value_counts()

 0    15730
-1     6050
 2     3927
-2     3782
 3      326
 4       99
 1       28
 5       25
 7       20
 6       12
 8        1
Name: PAY_2, dtype: int64

In [19]:
combine['PAY_2'] = combine['PAY_2'].replace(0, "Paid_On_Time")
combine['PAY_2'] = combine['PAY_2'].replace(-1, "Duly_1")
combine['PAY_2'] = combine['PAY_2'].replace(1, "Delay_1")
combine['PAY_2'] = combine['PAY_2'].replace(-2, "Duly_2")
combine['PAY_2'] = combine['PAY_2'].replace(2, "Delay_2")
combine['PAY_2'] = combine['PAY_2'].replace(3, "Delay_3")
combine['PAY_2'] = combine['PAY_2'].replace(4, "Delay_4")
combine['PAY_2'] = combine['PAY_2'].replace(5, "Delay_5")
combine['PAY_2'] = combine['PAY_2'].replace(8, "Delay_8")
combine['PAY_2'] = combine['PAY_2'].replace(6, "Delay_6")
combine['PAY_2'] = combine['PAY_2'].replace(7, "Delay_7")
combine['PAY_2'].value_counts()

Paid_On_Time    15730
Duly_1           6050
Delay_2          3927
Duly_2           3782
Delay_3           326
Delay_4            99
Delay_1            28
Delay_5            25
Delay_7            20
Delay_6            12
Delay_8             1
Name: PAY_2, dtype: int64

In [20]:
combine['PAY_3'].value_counts()

 0    15764
-1     5938
-2     4085
 2     3819
 3      240
 4       76
 7       27
 6       23
 5       21
 1        4
 8        3
Name: PAY_3, dtype: int64

In [21]:
combine['PAY_3'] = combine['PAY_3'].replace(0, "Paid_On_Time")
combine['PAY_3'] = combine['PAY_3'].replace(-1, "Duly_1")
combine['PAY_3'] = combine['PAY_3'].replace(1, "Delay_1")
combine['PAY_3'] = combine['PAY_3'].replace(-2, "Duly_2")
combine['PAY_3'] = combine['PAY_3'].replace(2, "Delay_2")
combine['PAY_3'] = combine['PAY_3'].replace(3, "Delay_3")
combine['PAY_3'] = combine['PAY_3'].replace(4, "Delay_4")
combine['PAY_3'] = combine['PAY_3'].replace(5, "Delay_5")
combine['PAY_3'] = combine['PAY_3'].replace(8, "Delay_8")
combine['PAY_3'] = combine['PAY_3'].replace(6, "Delay_6")
combine['PAY_3'] = combine['PAY_3'].replace(7, "Delay_7")
combine['PAY_3'].value_counts()

Paid_On_Time    15764
Duly_1           5938
Duly_2           4085
Delay_2          3819
Delay_3           240
Delay_4            76
Delay_7            27
Delay_6            23
Delay_5            21
Delay_1             4
Delay_8             3
Name: PAY_3, dtype: int64

In [22]:
combine['PAY_4'].value_counts()

 0    16455
-1     5687
-2     4348
 2     3159
 3      180
 4       69
 7       58
 5       35
 6        5
 8        2
 1        2
Name: PAY_4, dtype: int64

In [23]:
combine['PAY_4'] = combine['PAY_4'].replace(0, "Paid_On_Time")
combine['PAY_4'] = combine['PAY_4'].replace(-1, "Duly_1")
combine['PAY_4'] = combine['PAY_4'].replace(1, "Delay_1")
combine['PAY_4'] = combine['PAY_4'].replace(-2, "Duly_2")
combine['PAY_4'] = combine['PAY_4'].replace(2, "Delay_2")
combine['PAY_4'] = combine['PAY_4'].replace(3, "Delay_3")
combine['PAY_4'] = combine['PAY_4'].replace(4, "Delay_4")
combine['PAY_4'] = combine['PAY_4'].replace(5, "Delay_5")
combine['PAY_4'] = combine['PAY_4'].replace(8, "Delay_8")
combine['PAY_4'] = combine['PAY_4'].replace(6, "Delay_6")
combine['PAY_4'] = combine['PAY_4'].replace(7, "Delay_7")
combine['PAY_4'].value_counts()

Paid_On_Time    16455
Duly_1           5687
Duly_2           4348
Delay_2          3159
Delay_3           180
Delay_4            69
Delay_7            58
Delay_5            35
Delay_6             5
Delay_1             2
Delay_8             2
Name: PAY_4, dtype: int64

In [24]:
combine['PAY_5'].value_counts()

 0    16947
-1     5539
-2     4546
 2     2626
 3      178
 4       84
 7       58
 5       17
 6        4
 8        1
Name: PAY_5, dtype: int64

In [25]:
combine['PAY_5'] = combine['PAY_5'].replace(0, "Paid_On_Time")
combine['PAY_5'] = combine['PAY_5'].replace(-1, "Duly_1")
combine['PAY_5'] = combine['PAY_5'].replace(1, "Delay_1")
combine['PAY_5'] = combine['PAY_5'].replace(-2, "Duly_2")
combine['PAY_5'] = combine['PAY_5'].replace(2, "Delay_2")
combine['PAY_5'] = combine['PAY_5'].replace(3, "Delay_3")
combine['PAY_5'] = combine['PAY_5'].replace(4, "Delay_4")
combine['PAY_5'] = combine['PAY_5'].replace(5, "Delay_5")
combine['PAY_5'] = combine['PAY_5'].replace(8, "Delay_8")
combine['PAY_5'] = combine['PAY_5'].replace(6, "Delay_6")
combine['PAY_5'] = combine['PAY_5'].replace(7, "Delay_7")
combine['PAY_5'].value_counts()

Paid_On_Time    16947
Duly_1           5539
Duly_2           4546
Delay_2          2626
Delay_3           178
Delay_4            84
Delay_7            58
Delay_5            17
Delay_6             4
Delay_8             1
Name: PAY_5, dtype: int64

In [26]:
combine['PAY_6'].value_counts()

 0    16286
-1     5740
-2     4895
 2     2766
 3      184
 4       49
 7       46
 6       19
 5       13
 8        2
Name: PAY_6, dtype: int64

In [27]:
combine['PAY_6'] = combine['PAY_6'].replace(0, "Paid_On_Time")
combine['PAY_6'] = combine['PAY_6'].replace(-1, "Duly_1")
combine['PAY_6'] = combine['PAY_6'].replace(1, "Delay_1")
combine['PAY_6'] = combine['PAY_6'].replace(-2, "Duly_2")
combine['PAY_6'] = combine['PAY_6'].replace(2, "Delay_2")
combine['PAY_6'] = combine['PAY_6'].replace(3, "Delay_3")
combine['PAY_6'] = combine['PAY_6'].replace(4, "Delay_4")
combine['PAY_6'] = combine['PAY_6'].replace(5, "Delay_5")
combine['PAY_6'] = combine['PAY_6'].replace(8, "Delay_8")
combine['PAY_6'] = combine['PAY_6'].replace(6, "Delay_6")
combine['PAY_6'] = combine['PAY_6'].replace(7, "Delay_7")
combine['PAY_6'].value_counts()

Paid_On_Time    16286
Duly_1           5740
Duly_2           4895
Delay_2          2766
Delay_3           184
Delay_4            49
Delay_7            46
Delay_6            19
Delay_5            13
Delay_8             2
Name: PAY_6, dtype: int64

In [28]:
bill_amount = ['BILL_AMT1','BILL_AMT2','BILL_AMT3','BILL_AMT4','BILL_AMT5','BILL_AMT6']
combine[bill_amount].describe()

,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6
count,30000.000000,30000.000000,3.000000e+04,30000.000000,30000.000000,30000.000000
mean,51223.330900,49179.075167,4.701315e+04,43262.948967,40311.400967,38871.760400
std,73635.860576,71173.768783,6.934939e+04,64332.856134,60797.155770,59554.107537
min,-165580.000000,-69777.000000,-1.572640e+05,-170000.000000,-81334.000000,-339603.000000
25%,3558.750000,2984.750000,2.666250e+03,2326.750000,1763.000000,1256.000000
50%,22381.500000,21200.000000,2.008850e+04,19052.000000,18104.500000,17071.000000
75%,67091.000000,64006.250000,6.016475e+04,54506.000000,50190.500000,49198.250000
max,964511.000000,983931.000000,1.664089e+06,891586.000000,927171.000000,961664.000000

In [29]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

combine[bill_amount] = scaler.fit_transform(combine[bill_amount])
combine[bill_amount].describe()

,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6
count,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04
mean,-3.769308e-17,4.823283e-17,3.031385e-16,-5.507724e-17,9.425377e-17,-8.530075e-17
std,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00
min,-2.944312e+00,-1.671375e+00,-2.945672e+00,-3.315048e+00,-2.000874e+00,-6.355247e+00
25%,-6.473120e-01,-6.490466e-01,-6.394814e-01,-6.363293e-01,-6.340600e-01,-6.316338e-01
50%,-3.916884e-01,-3.931159e-01,-3.882529e-01,-3.763451e-01,-3.652683e-01,-3.660725e-01
75%,2.154919e-01,2.083271e-01,1.896457e-01,1.747667e-01,1.624955e-01,1.733997e-01
max,1.240296e+01,1.313360e+01,2.331820e+01,1.318669e+01,1.458743e+01,1.549528e+01

In [30]:
pay_amount = ['PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6']
combine[pay_amount].describe()

,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
count,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000
mean,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567
std,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775
min,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000
25%,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000
50%,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000
75%,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000
max,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000

In [31]:
combine[pay_amount] = scaler.fit_transform(combine[pay_amount])
combine[pay_amount].describe()

,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
count,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04,3.000000e+04
mean,1.991703e-16,2.423339e-17,-1.795564e-16,3.956456e-16,-2.057040e-16,-1.101762e-16
std,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00,1.000017e+00
min,-3.419416e-01,-2.569895e-01,-2.968013e-01,-3.080626e-01,-3.141361e-01,-2.933821e-01
25%,-2.815661e-01,-2.208358e-01,-2.746506e-01,-2.891680e-01,-2.976091e-01,-2.867584e-01
50%,-2.151530e-01,-1.697952e-01,-1.945673e-01,-2.123132e-01,-2.159561e-01,-2.090042e-01
75%,-3.970176e-02,-3.998021e-02,-4.093230e-02,-5.188511e-02,-5.026084e-02,-6.837436e-02
max,5.239921e+01,7.284299e+01,5.059528e+01,3.933218e+01,2.760363e+01,2.944510e+01

In [32]:
combine.head()

,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,EDUCATION,ID,LIMIT_BAL,...,PAY_5,PAY_6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX,default_payment_next_month
0,Age_Tier1,-0.411102,-0.514089,-0.627762,-0.619102,-0.517161,-0.618805,University,25150,12.793859,...,Duly_1,Duly_1,0.418186,-0.105994,-0.101080,0.258135,-0.181920,1.227839,Female,0.0
1,Age_Tier3,-0.689449,-0.690983,-0.677929,-0.637678,-0.635409,-0.614657,Graduate_School,13470,12.388394,...,Paid_On_Time,Duly_1,-0.341942,-0.256990,-0.169577,-0.308063,-0.165753,-0.120464,Female,0.0
2,Age_Tier3,-0.018705,0.065080,-0.119630,-0.122085,-0.086772,-0.049246,University,3092,12.676076,...,Paid_On_Time,Paid_On_Time,-0.040064,-0.170186,-0.183208,-0.116564,-0.117776,-0.209004,Female,0.0
3,Age_Tier1,-0.659314,-0.690983,-0.677929,-0.672497,-0.663059,-0.652724,University,13973,10.819778,...,Duly_2,Duly_2,-0.341942,-0.256990,-0.296801,-0.308063,-0.314136,-0.293382,Female,1.0
4,Age_Tier4,-0.208629,-0.430757,-0.398397,-0.352889,-0.313349,-0.292424,High_School,10567,11.289782,...,Paid_On_Time,Paid_On_Time,-0.251378,-0.191887,-0.211606,-0.242442,-0.256799,-0.211873,Male,0.0

In [33]:
combine = pd.get_dummies(combine)
combine.shape

(30000, 95)

In [34]:
X = combine[combine['default_payment_next_month'].isnull()!=True].drop(['ID','default_payment_next_month'], axis=1)
y = combine[combine['default_payment_next_month'].isnull()!=True]['default_payment_next_month']

X_test = combine[combine['default_payment_next_month'].isnull()==True].drop(['ID','default_payment_next_month'], axis=1)

X.shape, y.shape, X_test.shape

((21000, 93), (21000,), (9000, 93))

In [35]:
from sklearn.model_selection import train_test_split
x_train, x_val, y_train, y_val = train_test_split(X, y, test_size=0.2)

In [36]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
            max_features=None, max_leaf_nodes=20,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=20,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')
model.fit(x_train,y_train)

pred_y = model.predict_proba(x_val)[:,1]

/opt/conda/lib/python3.6/site-packages/sklearn/tree/_classes.py:319: FutureWarning: The parameter 'presort' is deprecated and has no effect. It will be removed in v0.24. You can suppress this warning by not passing any value to the 'presort' parameter.
  FutureWarning)

In [37]:
from lightgbm import LGBMClassifier
model = LGBMClassifier(n_estimator=5000,
                       random_state=1994,
                       learning_rate=0.05,
                       reg_alpha=0.2,
                       colsample_bytree=0.5,
                       bagging_fraction=0.9)

model.fit(x_train,y_train,
          eval_set=[(x_train,y_train),(x_val, y_val.values)],
          eval_metric='auc',
          early_stopping_rounds=100,
          verbose=200)

pred_y = model.predict_proba(x_val)[:,1]

Training until validation scores don't improve for 100 rounds
Did not meet early stopping. Best iteration is:
[100]	training's auc: 0.857436	training's binary_logloss: 0.37896	valid_1's auc: 0.786893	valid_1's binary_logloss: 0.423906

In [38]:
from sklearn.metrics import accuracy_score,confusion_matrix,roc_auc_score
print(roc_auc_score(y_val, pred_y))
confusion_matrix(y_val,pred_y>0.5)

0.7868928613352116

array([[3135,  153],
       [ 612,  300]])

In [39]:
err = []
y_pred_tot_lgm = []

from sklearn.model_selection import StratifiedKFold

fold = StratifiedKFold(n_splits=10,shuffle=True,random_state=1994)
i = 1
for train_index, test_index in fold.split(X, y):
    x_train, x_val = X.iloc[train_index], X.iloc[test_index]
    y_train, y_val = y[train_index], y[test_index]
    m = LGBMClassifier(boosting_type='gbdt',
                       max_depth=5,
                       learning_rate=0.08,
                       n_estimators=5000,
                       min_child_weight=0.01,
                       colsample_bytree=0.5,
                       random_state=1994)
    m.fit(x_train, y_train,
          eval_set=[(x_train,y_train),(x_val, y_val)],
          early_stopping_rounds=200,
          eval_metric='auc',
          verbose=200)
    pred_y = m.predict_proba(x_val)[:,1]
    print("err_lgm: ",roc_auc_score(y_val,pred_y))
    err.append(roc_auc_score(y_val, pred_y))
    pred_test = m.predict_proba(X_test)[:,1]
    i = i + 1
    y_pred_tot_lgm.append(pred_test)

Training until validation scores don't improve for 200 rounds
[200]	training's auc: 0.874115	training's binary_logloss: 0.359053	valid_1's auc: 0.786776	valid_1's binary_logloss: 0.427097
Early stopping, best iteration is:
[65]	training's auc: 0.823158	training's binary_logloss: 0.398076	valid_1's auc: 0.790301	valid_1's binary_logloss: 0.424969
err_lgm:  0.7903014606694208
Training until validation scores don't improve for 200 rounds
[200]	training's auc: 0.869783	training's binary_logloss: 0.363302	valid_1's auc: 0.795356	valid_1's binary_logloss: 0.419493
Early stopping, best iteration is:
[42]	training's auc: 0.810009	training's binary_logloss: 0.40919	valid_1's auc: 0.805012	valid_1's binary_logloss: 0.415811
err_lgm:  0.8050115662675997
Training until validation scores don't improve for 200 rounds
[200]	training's auc: 0.875177	training's binary_logloss: 0.358761	valid_1's auc: 0.786265	valid_1's binary_logloss: 0.427419
Early stopping, best iteration is:
[101]	training's auc: 0.839225	training's binary_logloss: 0.387003	valid_1's auc: 0.791694	valid_1's binary_logloss: 0.422424
err_lgm:  0.7916938917460585
Training until validation scores don't improve for 200 rounds
[200]	training's auc: 0.873597	training's binary_logloss: 0.359816	valid_1's auc: 0.779513	valid_1's binary_logloss: 0.426287
Early stopping, best iteration is:
[56]	training's auc: 0.819564	training's binary_logloss: 0.401538	valid_1's auc: 0.786407	valid_1's binary_logloss: 0.421774
err_lgm:  0.7864073960880196
Training until validation scores don't improve for 200 rounds
[200]	training's auc: 0.873884	training's binary_logloss: 0.359088	valid_1's auc: 0.760987	valid_1's binary_logloss: 0.446687
Early stopping, best iteration is:
[113]	training's auc: 0.844948	training's binary_logloss: 0.382559	valid_1's auc: 0.765703	valid_1's binary_logloss: 0.442587
err_lgm:  0.7657027232105219
Training until validation scores don't improve for 200 rounds
[200]	training's auc: 0.87127	training's binary_logloss: 0.361811	valid_1's auc: 0.777976	valid_1's binary_logloss: 0.428916
Early stopping, best iteration is:
[145]	training's auc: 0.853098	training's binary_logloss: 0.375879	valid_1's auc: 0.779301	valid_1's binary_logloss: 0.427709
err_lgm:  0.7793009108546249
Training until validation scores don't improve for 200 rounds
[200]	training's auc: 0.874093	training's binary_logloss: 0.358619	valid_1's auc: 0.768635	valid_1's binary_logloss: 0.442956
Early stopping, best iteration is:
[58]	training's auc: 0.823363	training's binary_logloss: 0.398981	valid_1's auc: 0.770071	valid_1's binary_logloss: 0.438313
err_lgm:  0.7700706981026602
Training until validation scores don't improve for 200 rounds
[200]	training's auc: 0.869473	training's binary_logloss: 0.363332	valid_1's auc: 0.77857	valid_1's binary_logloss: 0.427714
Early stopping, best iteration is:
[49]	training's auc: 0.8182	training's binary_logloss: 0.403912	valid_1's auc: 0.784729	valid_1's binary_logloss: 0.423173
err_lgm:  0.7847285521686231
Training until validation scores don't improve for 200 rounds
[200]	training's auc: 0.870003	training's binary_logloss: 0.362803	valid_1's auc: 0.794981	valid_1's binary_logloss: 0.419565
Early stopping, best iteration is:
[93]	training's auc: 0.834274	training's binary_logloss: 0.390567	valid_1's auc: 0.799222	valid_1's binary_logloss: 0.418186
err_lgm:  0.7992219920423531
Training until validation scores don't improve for 200 rounds
[200]	training's auc: 0.871727	training's binary_logloss: 0.361667	valid_1's auc: 0.792082	valid_1's binary_logloss: 0.41998
Early stopping, best iteration is:
[56]	training's auc: 0.816494	training's binary_logloss: 0.403511	valid_1's auc: 0.803061	valid_1's binary_logloss: 0.414345
err_lgm:  0.8030607346026108

In [40]:
np.mean(err,0)

0.7875499925752494

In [41]:
from xgboost import XGBClassifier

errxgb = []
y_pred_tot_xgb = []

from sklearn.model_selection import KFold,StratifiedKFold

fold = StratifiedKFold(n_splits=10,shuffle=True,random_state=1994)
i = 1
for train_index, test_index in fold.split(X,y):
    x_train, x_val = X.iloc[train_index], X.iloc[test_index]
    y_train, y_val = y[train_index], y[test_index]
    m = XGBClassifier(boosting_type='gbdt',
                      max_depth=5,
                      learning_rate=0.07,
                      n_estimators=5000,
                      random_state=1994)
    m.fit(x_train, y_train,
          eval_set=[(x_train,y_train),(x_val, y_val)],
          early_stopping_rounds=200,
          eval_metric='auc',
          verbose=200)
    pred_y = m.predict_proba(x_val)[:,-1]
    print("err_xgb: ",roc_auc_score(y_val,pred_y))
    errxgb.append(roc_auc_score(y_val, pred_y))
    pred_test = m.predict_proba(X_test)[:,-1]
    i = i + 1
    y_pred_tot_xgb.append(pred_test)

[0]	validation_0-auc:0.75736	validation_1-auc:0.75818
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.86790	validation_1-auc:0.78850
Stopping. Best iteration:
[152]	validation_0-auc:0.85555	validation_1-auc:0.79098

err_xgb:  0.7909772573981957
[0]	validation_0-auc:0.75621	validation_1-auc:0.76717
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.86040	validation_1-auc:0.80020
Stopping. Best iteration:
[42]	validation_0-auc:0.80757	validation_1-auc:0.80566

err_xgb:  0.8056596988027991
[0]	validation_0-auc:0.75704	validation_1-auc:0.76209
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.86739	validation_1-auc:0.79258
Stopping. Best iteration:
[89]	validation_0-auc:0.83103	validation_1-auc:0.79427

err_xgb:  0.7942725897900682
[0]	validation_0-auc:0.75908	validation_1-auc:0.74993
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.86403	validation_1-auc:0.77716
Stopping. Best iteration:
[44]	validation_0-auc:0.80894	validation_1-auc:0.78539

err_xgb:  0.785390407638479
[0]	validation_0-auc:0.76195	validation_1-auc:0.72302
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.86421	validation_1-auc:0.76255
Stopping. Best iteration:
[131]	validation_0-auc:0.84436	validation_1-auc:0.76420

err_xgb:  0.7641970006744794
[0]	validation_0-auc:0.76162	validation_1-auc:0.73399
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.86652	validation_1-auc:0.77608
[400]	validation_0-auc:0.90880	validation_1-auc:0.77183
Stopping. Best iteration:
[205]	validation_0-auc:0.86877	validation_1-auc:0.77646

err_xgb:  0.7764631218966822
[0]	validation_0-auc:0.76316	validation_1-auc:0.73215
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.86638	validation_1-auc:0.77024
Stopping. Best iteration:
[134]	validation_0-auc:0.84715	validation_1-auc:0.77317

err_xgb:  0.773171549768176
[0]	validation_0-auc:0.76296	validation_1-auc:0.74433
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.86243	validation_1-auc:0.77346
Stopping. Best iteration:
[53]	validation_0-auc:0.81649	validation_1-auc:0.78045

err_xgb:  0.7804452336325671
[0]	validation_0-auc:0.75824	validation_1-auc:0.75000
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.86101	validation_1-auc:0.79280
Stopping. Best iteration:
[98]	validation_0-auc:0.83212	validation_1-auc:0.79744

err_xgb:  0.7974430304823912
[0]	validation_0-auc:0.75664	validation_1-auc:0.76665
Multiple eval metrics have been passed: 'validation_1-auc' will be used for early stopping.

Will train until validation_1-auc hasn't improved in 200 rounds.
[200]	validation_0-auc:0.86598	validation_1-auc:0.79334
Stopping. Best iteration:
[43]	validation_0-auc:0.80881	validation_1-auc:0.80131

err_xgb:  0.8013126829107889

In [42]:
from catboost import CatBoostClassifier,Pool, cv
errCB = []
y_pred_tot_cb = []
from sklearn.model_selection import KFold,StratifiedKFold

fold = StratifiedKFold(n_splits=15,shuffle=True,random_state=1994)
i = 1
for train_index, test_index in fold.split(X,y):
    x_train, x_val = X.iloc[train_index], X.iloc[test_index]
    y_train, y_val = y[train_index], y[test_index]
    m = CatBoostClassifier(n_estimators=5000,
                           random_state=1994,
                           eval_metric='AUC',
                           learning_rate=0.03)
    m.fit(x_train, y_train,
          eval_set=[(x_train,y_train),(x_val, y_val)],
          early_stopping_rounds=200,
          verbose=200)
    pred_y = m.predict_proba(x_val)[:,-1]
    print("err_cb: ",roc_auc_score(y_val,pred_y))
    errCB.append(roc_auc_score(y_val,pred_y))
    pred_test = m.predict_proba(X_test)[:,-1]
    i = i + 1
    y_pred_tot_cb.append(pred_test)

0:	test: 0.7492461	test1: 0.7384722	best: 0.7384722 (0)	total: 69.8ms	remaining: 5m 48s
200:	test: 0.8057693	test1: 0.7884234	best: 0.7885658 (198)	total: 2.98s	remaining: 1m 11s
400:	test: 0.8291617	test1: 0.7910293	best: 0.7912607 (396)	total: 5.88s	remaining: 1m 7s
600:	test: 0.8495277	test1: 0.7909017	best: 0.7919103 (533)	total: 8.73s	remaining: 1m 3s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.791910275
bestIteration = 533

Shrink model to first 534 iterations.
err_cb:  0.7919102750067484
0:	test: 0.7475461	test1: 0.7608100	best: 0.7608100 (0)	total: 14.2ms	remaining: 1m 11s
200:	test: 0.8050085	test1: 0.8035827	best: 0.8037132 (186)	total: 2.9s	remaining: 1m 9s
400:	test: 0.8275167	test1: 0.8048078	best: 0.8055820 (335)	total: 5.79s	remaining: 1m 6s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.8055820052
bestIteration = 335

Shrink model to first 336 iterations.
err_cb:  0.8055820051673148
0:	test: 0.7487687	test1: 0.7434304	best: 0.7434304 (0)	total: 16.3ms	remaining: 1m 21s
200:	test: 0.8044042	test1: 0.7988381	best: 0.7990991 (181)	total: 2.86s	remaining: 1m 8s
400:	test: 0.8263082	test1: 0.8004310	best: 0.8007365 (356)	total: 5.72s	remaining: 1m 5s
600:	test: 0.8478240	test1: 0.7984940	best: 0.8008404 (488)	total: 8.58s	remaining: 1m 2s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.8008403561
bestIteration = 488

Shrink model to first 489 iterations.
err_cb:  0.8008403560760443
0:	test: 0.7467038	test1: 0.7730846	best: 0.7730846 (0)	total: 16.4ms	remaining: 1m 21s
200:	test: 0.8041187	test1: 0.8017169	best: 0.8017169 (200)	total: 2.95s	remaining: 1m 10s
400:	test: 0.8267012	test1: 0.8045260	best: 0.8050629 (376)	total: 5.82s	remaining: 1m 6s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.8050629006
bestIteration = 376

Shrink model to first 377 iterations.
err_cb:  0.8050629006374603
0:	test: 0.7481993	test1: 0.7504131	best: 0.7504131 (0)	total: 21.3ms	remaining: 1m 46s
200:	test: 0.8054122	test1: 0.7913674	best: 0.7913674 (200)	total: 3.13s	remaining: 1m 14s
400:	test: 0.8274392	test1: 0.7925362	best: 0.7934884 (312)	total: 6.29s	remaining: 1m 12s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.7934883528
bestIteration = 312

Shrink model to first 313 iterations.
err_cb:  0.7934883527775058
0:	test: 0.7482607	test1: 0.7285099	best: 0.7285099 (0)	total: 16.1ms	remaining: 1m 20s
200:	test: 0.8046822	test1: 0.7788384	best: 0.7790929 (150)	total: 2.98s	remaining: 1m 11s
400:	test: 0.8287122	test1: 0.7801850	best: 0.7805371 (396)	total: 5.92s	remaining: 1m 7s
600:	test: 0.8491688	test1: 0.7800370	best: 0.7813747 (430)	total: 8.75s	remaining: 1m 4s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.7813746671
bestIteration = 430

Shrink model to first 431 iterations.
err_cb:  0.7813746670612607
0:	test: 0.7521716	test1: 0.6965108	best: 0.6965108 (0)	total: 15.6ms	remaining: 1m 17s
200:	test: 0.8074137	test1: 0.7535351	best: 0.7537896 (198)	total: 2.88s	remaining: 1m 8s
400:	test: 0.8295017	test1: 0.7563791	best: 0.7567875 (376)	total: 5.82s	remaining: 1m 6s
600:	test: 0.8520633	test1: 0.7557191	best: 0.7572433 (463)	total: 8.68s	remaining: 1m 3s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.7572432672
bestIteration = 463

Shrink model to first 464 iterations.
err_cb:  0.7572432672388281
0:	test: 0.7494349	test1: 0.7428648	best: 0.7428648 (0)	total: 15.1ms	remaining: 1m 15s
200:	test: 0.8058352	test1: 0.7701080	best: 0.7701879 (192)	total: 2.87s	remaining: 1m 8s
400:	test: 0.8275592	test1: 0.7720405	best: 0.7724430 (383)	total: 5.75s	remaining: 1m 5s
600:	test: 0.8479624	test1: 0.7729195	best: 0.7738636 (472)	total: 8.69s	remaining: 1m 3s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.7738635691
bestIteration = 472

Shrink model to first 473 iterations.
err_cb:  0.7738635691032851
0:	test: 0.7483904	test1: 0.7467964	best: 0.7467964 (0)	total: 16.3ms	remaining: 1m 21s
200:	test: 0.8043299	test1: 0.7847706	best: 0.7847706 (200)	total: 2.89s	remaining: 1m 8s
400:	test: 0.8259261	test1: 0.7892039	best: 0.7900326 (369)	total: 5.76s	remaining: 1m 6s
600:	test: 0.8467202	test1: 0.7910092	best: 0.7913170 (522)	total: 8.79s	remaining: 1m 4s
800:	test: 0.8627805	test1: 0.7901598	best: 0.7915182 (721)	total: 11.6s	remaining: 1m
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.7915182007
bestIteration = 721

Shrink model to first 722 iterations.
err_cb:  0.7915182006510801
0:	test: 0.7511826	test1: 0.7205653	best: 0.7205653 (0)	total: 16.2ms	remaining: 1m 20s
200:	test: 0.8063615	test1: 0.7660832	best: 0.7660832 (200)	total: 2.92s	remaining: 1m 9s
400:	test: 0.8283954	test1: 0.7683619	best: 0.7683886 (391)	total: 5.85s	remaining: 1m 7s
600:	test: 0.8491238	test1: 0.7687585	best: 0.7687733 (574)	total: 8.97s	remaining: 1m 5s
800:	test: 0.8652980	test1: 0.7711320	best: 0.7713244 (793)	total: 12s	remaining: 1m 2s
1000:	test: 0.8785970	test1: 0.7701110	best: 0.7714279 (819)	total: 15.2s	remaining: 1m
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.7714279373
bestIteration = 819

Shrink model to first 820 iterations.
err_cb:  0.7714279372595443
0:	test: 0.7488652	test1: 0.7237408	best: 0.7237408 (0)	total: 14.6ms	remaining: 1m 12s
200:	test: 0.8054956	test1: 0.7771841	best: 0.7771841 (200)	total: 2.94s	remaining: 1m 10s
400:	test: 0.8279195	test1: 0.7799497	best: 0.7803418 (335)	total: 5.8s	remaining: 1m 6s
600:	test: 0.8485253	test1: 0.7778070	best: 0.7806422 (438)	total: 8.61s	remaining: 1m 3s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.7806422018
bestIteration = 438

Shrink model to first 439 iterations.
err_cb:  0.7806422018348624
0:	test: 0.7477270	test1: 0.7579683	best: 0.7579683 (0)	total: 14.9ms	remaining: 1m 14s
200:	test: 0.8052695	test1: 0.7804809	best: 0.7805105 (197)	total: 2.91s	remaining: 1m 9s
400:	test: 0.8270093	test1: 0.7844836	best: 0.7844836 (400)	total: 5.78s	remaining: 1m 6s
600:	test: 0.8477686	test1: 0.7841669	best: 0.7852412 (514)	total: 8.63s	remaining: 1m 3s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.7852411956
bestIteration = 514

Shrink model to first 515 iterations.
err_cb:  0.7852411956200058
0:	test: 0.7480628	test1: 0.7534640	best: 0.7534640 (0)	total: 16.2ms	remaining: 1m 21s
200:	test: 0.8045081	test1: 0.7921604	best: 0.7922669 (187)	total: 2.93s	remaining: 1m 9s
400:	test: 0.8266214	test1: 0.7907813	best: 0.7924268 (203)	total: 5.81s	remaining: 1m 6s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.7924267535
bestIteration = 203

Shrink model to first 204 iterations.
err_cb:  0.7924267534773601
0:	test: 0.7457808	test1: 0.7858257	best: 0.7858257 (0)	total: 14.5ms	remaining: 1m 12s
200:	test: 0.8032845	test1: 0.8162474	best: 0.8166055 (187)	total: 2.9s	remaining: 1m 9s
400:	test: 0.8262914	test1: 0.8192868	best: 0.8193992 (349)	total: 5.79s	remaining: 1m 6s
600:	test: 0.8474795	test1: 0.8191506	best: 0.8197425 (475)	total: 8.74s	remaining: 1m 3s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.8197425274
bestIteration = 475

Shrink model to first 476 iterations.
err_cb:  0.8197425273749631
0:	test: 0.7487496	test1: 0.7458908	best: 0.7458908 (0)	total: 15.4ms	remaining: 1m 16s
200:	test: 0.8053426	test1: 0.7846597	best: 0.7852131 (164)	total: 3.01s	remaining: 1m 11s
Stopped by overfitting detector  (200 iterations wait)

bestTest = 0.7852130808
bestIteration = 164

Shrink model to first 165 iterations.
err_cb:  0.785213080793134

In [43]:
np.mean(errCB)

0.7890384860052931

In [44]:
(np.mean(errxgb, 0) + np.mean(err, 0) + np.mean(errCB, 0))/3

0.7878405786266683

In [45]:
submission = pd.DataFrame()
submission['ID'] = combine[combine['default_payment_next_month'].isnull()==True]['ID']
submission['default_payment_next_month'] = (np.mean(y_pred_tot_lgm, 0) + np.mean(y_pred_tot_cb, 0) + 
                                            np.mean(y_pred_tot_xgb, 0))/3
submission.to_csv('rfr_lrg.csv', index=False, header=True)
submission.shape

(9000, 2)